<script>
  $(document).ready(function () {


    $(".button-collapse").sideNav();

  })
</script>
<!--
<nav>
    <div class="nav-wrapper white">
      <a href="#!" class="brand-logo black-text ">( )</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons black-text">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html"><i class="material-icons black">chat_bubble_outline</i></a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html"><i class="material-icons ">chat_bubble_outline</i></a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
    </div>
  </nav>
          -->
<nav>
  <div class="nav-wrapper green lighten-3">
    <a href="#!" class="brand-logo black-text center">o))</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a [routerLink]="['register']" class="black-text">Register</a></li>
      <li><a [routerLink]="['login']" class="black-text">Login</a></li>

    </ul>
    <ul class="side-nav" id="mobile-demo">
      <li><a [routerLink]="['register']" class="black-text">Register</a></li>
      <li><a [routerLink]="['login']" class="black-text">Login</a></li>
    </ul>
  </div>
</nav>