<script src="https://js.pusher.com/4.1/pusher.min.js"></script>


<div class="container animated fadeIn">

  <div class="col s3">
  </div>
  <div style="text-align:center;" class="col s6 ">
    <div class="row">
      <form (submit)="sendMessage();" class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">mode_edit</i>
            <textarea id="textarea1" class="materialize-textarea" name="message" [(ngModel)]="message"></textarea>
            <label for="textarea1">Type Here...</label>
          </div>
        </div>
        <button class="btn waves-effect center-align black text-white z-depth-5" type="submit">Send</button>
      </form>
    </div>


  </div>
  <div class="col s3">
  </div>
  <div class="col s3">
  </div>
  <div class="col s6" style="text-align:center;">
    <ul class="collection" *ngFor="let message of messages">
      <li class="collection-item dismissable animated fadeIn ">
        <div>{{message}}<a href="#!" class="secondary-content text-black"><i class="material-icons text-black">chevron_right</i></a></div>
      </li>

    </ul>


  </div>
</div>
<div class="col s3">
</div>