.appdescription{

  
font-size:16px;
}
.simplified{
  font-style:italic;
}


/* label color */
   .input-field label {
     color: #000;
   }
   

 #textarea1{
     color:#ddd;
 }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #ddd !important;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #ddd !important;
     box-shadow: 0 1px 0 0 #ddd !important;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #ddd;
     box-shadow: 0 1px 0 0 #ddd;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #ddd;
     box-shadow: 0 1px 0 0 #ddd;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #ddd;
   }
        
           .input-field label:focus{
       color:#ddd !important;
   }